$black: #252627;
$white: #ffffff;
$red: #f84f4f;
$blue: #01028B;
$darkBlue: #2b2d42;
$grey: #ffffff;
$green: #0E6A14;

$ubuntu: 'Ubuntu', sans-serif;

$small: 1rem;
$medium: 2rem;
$big: 3rem;
$mb-small: 1rem;
$mb-medium: 3rem;
$mb-big: 5rem;  



