.header-hamburger {
    display: none;
}

@media screen and (max-width: 1500px) {

    .hero-right-blue {
        right: 30px;
        width: 550px;
        height: 700px;
    }

    .hero-right-grey {
        top: 120px;
        right: 60px;
        width: 350px;
        height: 450px;
        rotate: 0deg;
    }


    .hero-right-box-text {
        right: 120px;
        width: 30%;

        & h1 {
            font-size: 1.5rem;
        }

        & p {
            font-size: .9rem;
        }
    }

    .hero-right-box-img {
        left: 10px;
    }

    .hero-right-box-img img {
        width: 50%;
    }
}

@media screen and (max-width: 1200px){

    .hero-cont {
        display: flex;
        flex-direction: column;
    }

    .hero-right-blue {
        width: 750px;
        height: 400px;
    }

    .hero-right-grey {
        top: 150px;
        right: 100px;
        width: 560px;
        height: 250px;
        rotate: -15deg;
    }

    .hero-right-box-text {
        right: 170px;
        width: 40%;

    }

    .hero-right-box-img {
        top: 100px;
        left: 150px;
    }

    .hero-right-box-img img {
        width: 30%;
    }

    .hero-left {
        top: 500px;

        &-1 {
            top: 0;
        }

        &-3, &-2 {
            display: none;
        }

        &-buttons {
            top: 80px;
            margin-top: 2rem;
            margin-left: 3rem;
            }
        }
    }

   #footer-index {
    top: 1000px;
   }


@media screen and (max-width: 850px){
    .hero-right-blue, .hero-right-grey {
        display: none;
    }

    .hero-left-buttons {
        margin-top: 6rem;
    }

    .hero-right-box-img {
        left: 100px;
        top: 1px;
    }

    .hero-right-box-img img {
        width: 300px;
    }

    .hero-right-box-text {
        background-color: rgba(250,250,250,0.7);
        border-radius: 25px;
        top: 250px;
        right: 0;
        width: 100%;
        padding-bottom: 0;

        & p {
            opacity: 1;
        }
    }

    .header-menu, #btn-a, #btn-p {
        display: none;
    }

    .header-hamburger {
        display: block;
    }
}

@media screen and (max-width: 500px){
    .hero-right-box-img {
        left: 80px;
    }

    .hero-left-1 {
        display: none;
    }

    .footer {
        
        &-cont {
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }

    .hero-left-buttons {
        flex-direction: column;
        left: 20px;
        top: -80px;
    }

    #btn-s, #btn-p  {
        display: block;
    }

}


